.clearfix:before, .clearfix:after {
    content: "";
    display: block;

}

.clearfix:after{
    clear: both;
}

.wrapper{
	width: 960px;
	margin: 0 auto;
	padding: 0 10px;
}

.header-top{
	height: 95px;
	}

.logo,.search {
	height: 95px;
	float: left;
	width: 50%;
	line-height: 95px;
}

.logo img{
	vertical-align: middle;
}

.search-btn{
	background: url(../img/search_ico.png) no-repeat center center;
	width: 30px;
	height: 22px;
	border: none;
	display: block;
    float: right;
    margin: 32.5px 0px;
    border:1px solid #ececec;
	border-left: none;
	outline: 0;

}

.search input{
	width: 170px;
	display: block;
	float: right;
	margin: 32.5px 0px;
	border:1px solid #ececec;
	border-right: none;
	outline: none;

}

.nav{
	line-height: 55px;
}

.navul {
    margin: 0;
    padding: 0;
}

.navli{
	list-style-type:none;
	display: inline-block;
}

.navlink{
	text-decoration: none;
	border-right: 1px solid #ececec;
	padding: 5px 24px;
	color: #2b2b2b;
}

.navlink.active{
    color: #f03c3c;
}

.slider{
	margin: 40px 0;
	position: relative;
}

.box1{
	width: 307px;
	float: left;
	margin:0px 6px 6px 0px;
	}

.box2{
	width: 309px;
    float: left;
    margin: 0px 12px 6px 0px;
}

.box3{
	width: 326px;
	float: left;
	margin:0px 0px 6px 0px;
}

.box4{
	width: 621px;
	float: left;
	margin:0px 6px 6px 0px;
}

.box5{
	width: 327px;
	float: left;
	margin:0px 0px 6px 6px;
}

.box6{
	width: 327px;
	float: left;
	margin:0px 0px 6px 6px;
}

.box7{
	width: 307px;
	float: left;
	margin:0px 6px 0px 0px;
}

.box8{
	width: 307px;
	float: left;
	margin:0px 6px 0px 0px;
}

.box9{
	width: 327px;
	float: left;
	margin:0px 0px 0px 6px;
}

.box1 img, .box2 img, .box3 img,
.box4 img, .box5 img, .box6 img,
.box7 img, .box8 img, .box9 img{
	width: 100%;
}

.box6 img{
	height: 91px;
}

.box8 img{
	height: 116px; 
}

.box9 img{
	height: 116px; 
}

.prev{
	position: absolute;
	top: 29%;
	left: -15px;

}

.next{
	position: absolute;
	top: 29%;
	right: -13px;

}

.title{
	text-align: center;
	font-size: 24px;
	margin-bottom: 30px;
}

.path{
	font-size: 14px;
}

.path-link{
	text-decoration:none;
	color:black;
	text-transform: uppercase;
	display: inline-block;
	padding: 0 10px;
	font-size: 14px;
}

.path-link:first-child{
	color: red;
	padding-left: 0px;
}

.path-link:last-child{
	padding-right: 0px;
}

.title-module{
	padding-bottom: 50px;
}

.box-module {
    position: relative;
}

.box-container-main{
	width: 23.5%;
    float: left;
    padding-right: 2%;
}

.box-container-main:last-child{
	padding-right: 0px;
}


.box-container {
    width: 100%;
    border: 1px solid #eee;
    margin-bottom: 20px;
}

.box-header-imgwraper img {
    width: 100%;
}

.box-content{
	padding: 20px 10px;
}

.box-title{
	font-size: 18px;
	margin: 0 0 5px 0;
	line-height: 18px;
	font-family: 'HelveticaNeue Bold', sans-serif;

}

.box-info{
	font-size: 12px;
	margin: 0 0 5px 0;
	line-height: 12px;
	color: #a1a1a1;
	font-family: 'HelveticaNeue Medium', sans-serif;

}

.box-text{
	font-family: 'HelveticaNeue', sans-serif;
	font-size: 12px;
}

.box-more{
	font-family: 'HelveticaNeue Medium', sans-serif;
	color: #2e2e2e;
	font-size: 12px;
	text-decoration: none;
	font-weight: bold;


}

.box-more:before{
	content:'';
	display: inline-block;
	background: url('../img/more_btn.png') no-repeat center center;
	background-size: 100% 100%;
	width: 15px;
	height: 8px;
	margin-right: 7px;
}

.box-header-hover{
	display: none;
}

.box-header{
	position: relative;
}

.box-header:hover .box-header-hover{
	background-color: rgba(0,0,0,0.5);
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 4px;;
	right: 0;
}

.box-header-link{
	display: block;
	height: 100%;
}

.box-header:hover .hover-plus{
	display: inline-block;
	background: url('../img/plus.png') no-repeat center center;
	background-size: 100% 100%;
	width: 40px;
	height: 40px;
	position: absolute;
	top:30%;
	left:50%;
	margin-left: -20px;
}

.icons{
	width: 33.3%;
	float: left;
	color: white;
	text-align: center;
	padding-top: 25px;
	position: relative;
}

.hover-info{
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 0px 0 20px;
}

.icons:nth-child(1):after, .icons:nth-child(2):after, .icons:nth-child(3):after{
	content: '';
	background: url('../img/post1_view.png') no-repeat;
	display: inline-block;
	position: absolute;
	top: 0;
	left:50%;
	width: 24px;
	height: 15px;
	transform: translate(-50%, 0);

}

.icons:nth-child(2):after{
	background: url('../img/post1_date.png') no-repeat;
}

.icons:nth-child(3):after{
	background: url('../img/post1_like.png') no-repeat;
}

.footer{
	border-top: 1px solid #eee;
	padding: 25px 0;
}
.social-icons{
	float: left;
	margin-right: 5px;
}

.social-icons:last-child{
	margin-right: 0px;
}

.social-wrapper{
     width: 30%;
     float: left;
}

.copyright-wrapper{
	width: 70%;
    float:left;
}

.footer-text{
	font-family: 'HelveticaNeue Bold', sans-serif;
	font-size: 12px;
	text-align: right;
	margin: 0 0 5px 0;
	
}

.footer-subtext{
	font-family: 'HelveticaNeue Medium', sans-serif;
	font-size: 10px;
	text-align: right;
	color: #4f5356;
	margin: 0;
	

}

.pagination{
	padding: 50px 0;
	font-size: 0;

}

.pagination-link{
	text-decoration: none;
	display: inline-block;
		
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,eeeeee+100 */
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(-45deg,  #ffffff 0%, #eeeeee 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(-45deg,  #ffffff 0%,#eeeeee 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(135deg,  #ffffff 0%,#eeeeee 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eeeeee',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */


	width: 30px;
	line-height: 30px;
	text-align: center;
	border-radius: 3px;
	color: #333;
	font-family: 'HelveticaNeue Bold', sans-serif;
	font-size: 14px;
	font-weight: bold;
	box-shadow: 1px 1px 3px rgba(0,0,0,0.5);
	margin-right: 7px;

}

.pagination-link:hover{
	background: #fff;
}

.pagination-link:active, .pagination-link:visited{

	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#eeeeee+0,cccccc+100;Gren+3D */
     background: #eeeeee; /* Old browsers */
     background: -moz-linear-gradient(-45deg,  #eeeeee 0%, #cccccc 100%); /* FF3.6-15 */
     background: -webkit-linear-gradient(-45deg,  #eeeeee 0%,#cccccc 100%); /* Chrome10-25,Safari5.1-6 */
     background: linear-gradient(135deg,  #eeeeee 0%,#cccccc 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
     filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	
	box-shadow: none;
	box-shadow: inset 1px 1px 3px rgba(0,0,0,0.8);
}

.about-title{
	text-align: center;
	font-size: 24px;
	margin-bottom: 30px;
}

.blog-title{
	text-align: center;
	font-size: 24px;
	margin-bottom: 30px;
}

.contact-title{
	text-align: center;
	font-size: 24px;
	margin-bottom: 30px;
}
.submit {
    display: inline-block;
    background: url('../img/more_btn.png') no-repeat left center;
    background-size: 15px 8px;
    height: 30px;
    width: 100px;
    border: none;
    outline: none;
}

.input{
	 display: block;
	 width: 200px;
	 background: #f9f9f9;
	 border: 1px #eee solid;
	 font-size: 12px;
	 padding:7px;
	 outline: none;


}

.textarea{
	 background: #f9f9f9;
	 width: 500px;
	 height: 150px;
	 font-size: 12px;
	 padding:7px;
	 outline: none;
	 border: 1px #eee solid;
	 resize: none;

}

.field{
	border: none;
	padding-left: 0;

}

#map-canvas{
	margin-bottom: 20px;
}

.a-img{
	float: left;
	width: 25%;

}

.a-text23{
	float: left;
	width: 70%;
}

.a-text2{
	margin: 0 0 15px;
}

.a-text3{
	margin: 0;
}

.a-text4{
	margin: 15px 0 15px;
}

.a-text5{
	margin: 0;
}

.a-text6:first-letter {
    text-transform: uppercase;
    color: red;
    font-size: 30px;
    font-weight: bold;
    display: inline-block;
    float: left;
    margin-right: 5px;

}

.q{
	color: red;
	font-weight: bold;
	font-size: 60px;
	float: left;
	margin: 0;
	width: 5%;
	line-height: 50px;
}

.a-text7{
	float: left;
	width: 95%;
	margin: 0 0 15px;
	font-style: italic;

}


